body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
}

body{
    font-family: helvetica;
    color: #2f3030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a:link, a:visited{
    color: black;
}

h1{
    font-size: 40px;
    margin-bottom: 5px;
}

h3{
    font-weight: bold;
}

#title{
    display: inline-block;
    text-align: center;
    position: relative;
    top: 10%;
}

#subtitle{
    margin-top: 0px;
}

#link-section{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15%;
    min-height: 150px;
    font-size: 14px;
}

#react, #d3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contact{
    position: relative;
    text-align: center;
    top: 20%;
}